@font-face {
    font-family: 'Minecraft Seven v2';
    src: url('../fonts/merged_minecraft_seven+unifont.otf');
}

@font-face {
    font-family: 'Minecraft Seven v2 Bold';
    src: url('../fonts/merged_minecraft_seven+unifont-bold.otf');
}

@font-face {
    font-family: 'Minecraft Seven v2 Italic';
    src: url('../fonts/merged_minecraft_seven+unifont-italic.otf');
}

@font-face {
    font-family: 'Minecraft Seven v2 BoldItalic';
    src: url('../fonts/merged_minecraft_seven+unifont-bolditalic.otf');
}

.root {
    -fx-font-family: 'Minecraft Seven v2';
    -fx-font-size: 26px;
}

.texture-scale {
    -scale-factor: 5;
}

.white {
    -fx-fill: white;
    -fx-text-fill: white;
}

.mc-button {
    -scale-factor: 3;
}

.server-icon {
    -scale-factor: 1.33;
}

.entry-selected {
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-radius: 0;
    -fx-border-width: 3;
    -fx-border-insets: -3;
    -fx-background-color: #000000;
}

.url-hyperlink {
    -fx-fill: blue;
    -fx-underline: true;
    -fx-cursor: hand;
}

.mc-button-text {
    -fx-font-size: 1em;
    -fx-text-fill: #FFFFFF;
}

.mc-text-field {
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;

    -fx-border-width: 3px;
    -fx-border-color: #A0A0A0;

    -fx-caret-color: white;
    -fx-caret-width: 609239px;

    -fx-highlight-fill: #555555;
    -fx-highlight-text-fill: white;

    -fx-padding: 4px;

    -fx-min-height: 50px;
    -fx-pref-height: 50px;

    -fx-alignment: center-left;
}

.mc-tooltip {
    -fx-background-color: #000000;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 3px;
    -fx-font-size: 20px;
    -fx-font-family: 'Minecraft Seven v2';
    -fx-padding: 5px;
    -fx-text-fill: #FFFFFF;
}

.mc-tooltip.error {
    -fx-text-fill: #dd0000;
}

.mc-tooltip .tooltip-arrow {
    -fx-background-color: transparent;
}

.support-indicator {
    -fx-cursor: hand;
}

.mc-text-field:focused {
    -fx-border-color: white;
}

.body {
    -fx-text-fill: #9e9e9e;
    -fx-fill: #9e9e9e;
}

.header {
    -fx-font-size: 24px;
    -fx-text-fill: #FFFFFF;
}

.server-name {
    -fx-text-fill: #FFFFFF;
}

.server-ping {
    -fx-text-fill: #F0F0F0;
}

.player-separator {
    -fx-text-fill: #555555;
}

.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.server-motd {
    -fx-fill: #a5a5a5;
}

.server-motd-pinging {
    -fx-fill: #7a7a7a;
}

.mod-name {
    -fx-text-fill: #FFFFFF;
}

.mod-version {
    -fx-text-fill: #7a7a7a;
}

.mod-info-field-label {
    -fx-fill: #9a9a9a;
}

.mod-info-field-value {
    -fx-fill: #ffffff;
}

.stack-pane-rounded {
    -fx-background-color: rgba(0, 0, 0, 0.75);
    -fx-background-radius: 2;
}

.pinger-motd-ping-error {
    -fx-fill: #dd0000;
}

/* §0 */
.mc-black {
    -fx-fill: #000000;
}

/* §1 */
.mc-dark-blue {
    -fx-fill: #0000AA;
}

/* §2 */
.mc-dark-green {
    -fx-fill: #00AA00;
}

/* §3 */
.mc-dark-aqua {
    -fx-fill: #00AAAA;
}

/* §4 */
.mc-dark-red {
    -fx-fill: #AA0000;
}

/* §5 */
.mc-dark-purple {
    -fx-fill: #AA00AA;
}

/* §6 */
.mc-gold {
    -fx-fill: #FFAA00;
}

/* §7 */
.mc-gray {
    -fx-fill: #AAAAAA;
}

/* §8 */
.mc-dark-gray {
    -fx-fill: #555555;
}

/* §9 */
.mc-blue {
    -fx-fill: #5555FF;
}

/* §a */
.mc-green {
    -fx-fill: #55FF55;
}

/* §b */
.mc-aqua {
    -fx-fill: #55FFFF;
}

/* §c */
.mc-red {
    -fx-fill: #FF5555;
}

/* §d */
.mc-light-purple {
    -fx-fill: #FF55FF;
}

/* §e */
.mc-yellow {
    -fx-fill: #FFFF55;
}

/* §f */
.mc-white {
    -fx-fill: #FFFFFF;
}

/* §l */
.mc-bold {
    -fx-font-family: 'Minecraft Seven v2 Bold';
}

/* §o */
.mc-italic {
    -fx-font-family: 'Minecraft Seven v2 Italic';
}

.mc-bold.mc-italic {
    -fx-font-family: "Minecraft Seven v2 BoldItalic";
}

/* §n */
.mc-underline {
    -fx-underline: true;
}

/* §m */
.mc-strikethrough {
    -fx-strikethrough: true;
}
