@font-face {
    font-family: 'Minecraft Seven v2';
    src: url('../fonts/merged_minecraft_seven+unifont.otf');
}

/* FIXME: Loading as Sans Serif */
@font-face {
    font-family: 'Minecraft Seven v2 Bold';
    src: url('../fonts/merged_minecraft_seven+unifont-bold.otf');
}

@font-face {
    font-family: 'Minecraft Seven v2 Italic';
    src: url('../fonts/merged_minecraft_seven+unifont-italic.otf');
}

@font-face {
    font-family: 'Minecraft Seven v2 BoldItalic';
    src: url('../fonts/merged_minecraft_seven+unifont-bolditalic.otf');
}

.root {
    -fx-font-family: 'Minecraft Seven v2';
    -fx-font-size: 26px;
}

.texture-scale {
    -scale-factor: 5;
}

.mc-button {
    -scale-factor: 3;
}

.server-icon {
    -scale-factor: 3;
}

.mc-button-text {
    -fx-font-size: 1em;
    -fx-text-fill: #FFFFFF;
}

.header {
    -fx-font-size: 30px;
    -fx-text-fill: #FFFFFF;
}

.server-name {
    -fx-text-fill: #FFFFFF;
}

.server-ping {
    -fx-text-fill: #F0F0F0;
}

.player-number {
    -fx-text-fill: #a5a5a5;
}

.player-separator {
    -fx-text-fill: #555555;
}

.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.server-motd {
    -fx-fill: #a5a5a5;
}

.server-motd-pinging {
    -fx-fill: #7a7a7a;
}

.pinger-motd-ping-error {
    -fx-fill: #dd0000;
}

/* §0 */
.mc-black {
    -fx-fill: #000000;
}

/* §1 */
.mc-dark-blue {
    -fx-fill: #0000AA;
}

/* §2 */
.mc-dark-green {
    -fx-fill: #00AA00;
}

/* §3 */
.mc-dark-aqua {
    -fx-fill: #00AAAA;
}

/* §4 */
.mc-dark-red {
    -fx-fill: #AA0000;
}

/* §5 */
.mc-dark-purple {
    -fx-fill: #AA00AA;
}

/* §6 */
.mc-gold {
    -fx-fill: #FFAA00;
}

/* §7 */
.mc-gray {
    -fx-fill: #AAAAAA;
}

/* §8 */
.mc-dark-gray {
    -fx-fill: #555555;
}

/* §9 */
.mc-blue {
    -fx-fill: #5555FF;
}

/* §a */
.mc-green {
    -fx-fill: #55FF55;
}

/* §b */
.mc-aqua {
    -fx-fill: #55FFFF;
}

/* §c */
.mc-red {
    -fx-fill: #FF5555;
}

/* §d */
.mc-light-purple {
    -fx-fill: #FF55FF;
}

/* §e */
.mc-yellow {
    -fx-fill: #FFFF55;
}

/* §f */
.mc-white {
    -fx-fill: #FFFFFF;
}

/* §l */
.mc-bold {
    -fx-font-family: 'Minecraft Seven v2 Bold';
}

/* §o */
.mc-italic {
    -fx-font-family: 'Minecraft Seven v2 Italic';
}

.mc-bold.mc-italic {
    -fx-font-family: "Minecraft Seven v2 BoldItalic";
}

/* §n */
.mc-underline {
    -fx-underline: true;
}

/* §m */
.mc-strikethrough {
    -fx-strikethrough: true;
}
