@font-face {
    font-family: Minecraft Seven v2;
    src: url('../fonts/merged_minecraft_seven+unifont.otf');
}

.root {
    -fx-font-family: 'Minecraft Seven v2';
}

.header {
    -fx-font-size: 24px;
    -fx-text-fill: #FFFFFF;
}

.server-name {
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
}

.server-ping {
    -fx-font-size: 18px;
    -fx-text-fill: #F0F0F0;
}

.server-pinging {
    -fx-font-size: 18px;
    -fx-text-fill: #7a7a7a;
}

.pinger-error {
    -fx-font-size: 18px;
    -fx-text-fill: #dd0000;
}

.server-motd {
    -fx-font-size: 18px;
    -fx-text-fill: #a5a5a5;
}

.player-number {
    -fx-text-fill: #a5a5a5;
    -fx-font-size: 18px;
}

.player-separator {
    -fx-font-size: 18px;
    -fx-text-fill: #555555;
}
